# MacOS
.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# Database
database/chroma_db/*.sqlite3
database/chroma_db/chroma.sqlite3
