fastapi
uvicorn
python-dotenv
pydantic>=2.7.4
requests
httpx
langchain==0.3.0
langchain-community==0.3.0
langchain-text-splitters==0.3.0
chromadb==0.4.15
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.126.0
beautifulsoup4==4.12.3
psutil==5.9.8
